body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 1000px;
}

.blue-header {
  display: flex;
  flex-direction: column;
  background-color: #37454d;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #37454d;
}

.gray-header-container {
  display: flex;
  flex-direction: column;
  background-color: #ebeced;
}

.gray-header-item {
  display: flex;
  flex-direction: row;
}

.hotel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ebeced;
}

.hotel-item {
  display: flex;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-right: 10px;
}

.hotel-image {
  width: 240px;
  height: 240px;
  margin-left: 2px;
}

.hotel-title {
  display: flex;
  font-weight: bold;
  white-space: nowrap;
  font-size: 26px;
  margin-left: 10px;
  margin-top: 10px;
}

.hotel-description-container {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.hotel-stars-container {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}

.hotel-stars-text {
  display: flex;
  margin-left: 6px;
  margin-top: 3px;
  font-size: 16px;
}

.star {
  display: flex;
  color: #f6ab3f;
}

.hotel-rating {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}

.guest-rating {
  display: flex;
  background-color: #316300;
  padding: 6px;
  width: 20px;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.guest-rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.rating-text {
  display: flex;
  margin-top: 16px;
  margin-left: 8px;
  font-weight: bold;
}

.second-row-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.third-row-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
}

.check-in-item {
  display: flex;
  margin-right: 10px;
  width: 33%;
}

.check-out-item {
  display: flex;
  margin-right: 10px;
  width: 33%;
}

.room-item {
  display: flex;
  width: 33%;
}

.material-icons {
  display: flex;
  background-color: white;
  border: none;
  margin: none;
  cursor: default;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-btn {
  display: flex;
  background-color: #007fad;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.search-input {
  display: flex;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  width: 100%;
  border: white;
  font-size: 16px;
}

.suggestions {
  display: none;
  background-color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: 50px;
  margin-right: 145px;
  cursor: pointer;
  padding: 5px;
}

.suggestions:hover {
  background-color: #007fad;
  color: white;
}

.search-item {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.date-btn {
  display: flex;
  width: 80%;
  background-color: white;
  color: #37454d;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.room-btn {
  display: flex;
  background-color: white;
  color: #37454d;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.property-btn {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 50%;
  text-align: left;
  margin-top: 5%;
}

.property-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.guest-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.location-container {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.location-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.location-btn {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 20%;
  text-align: left;
  margin-top: 5%;
}

.vertical-bar {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #626d73;
  height: 50px;
  margin-left: 1%;
  margin-right: 1%;
}

.vertical-bar-big {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #eaebeb;
  height: 220px;
  margin-left: 300px;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blue-bar {
  display: flex;
  border-left: 10px solid #007fad;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.orange-bar {
  display: flex;
  border-left: 10px solid orange;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.guest-btn {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  text-align: left;
  margin-top: 5%;
}

.left-tag {
  display: flex;
  flex-direction: row;
  color: #dbdedf;
  font-weight: bolder;
}

.right-tag {
  display: none;
  flex-direction: row;
  color: #dbdedf;
  margin-left: auto;
}

.tag-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 1%;
}

.slider-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1%;
}

.slider {
  display: flex;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #007fad;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 1%;
}

.slider::-webkit-slider-thumb {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e6e7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e6e7;
  cursor: pointer;
}

.white-icons {
  display: flex;
  color: white;
  align-self: center;
}

.search-icon {
  display: flex;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 10px;
}

.calendar-icons {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.sidearrow-icons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.smooth-right {
  display: flex;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.smooth-left {
  display: flex;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.people-icons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  cursor: pointer;
}

.downarrow-icons {
  display: flex;
  background-color: #37454d;
  cursor: pointer;
}

.selection-item {
  display: flex;
  flex-direction: row;
}

.property-container {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.guest-container {
  display: flex;
  flex-direction: column;
  width: 14%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 1%;
  margin-right: 4%;
}

.sort-by-tag {
  display: flex;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 2%;
  margin-top: 4%;
}

.sort-by-btn {
  display: flex;
  padding: 3%;
  border-top: solid 2px #abb1b4;
  border-bottom: solid 2px #abb1b4;
  border-left: solid 2px #abb1b4;
  border-right: none;
}

.sort-downarrow {
  display: flex;
  background-color: white;
  color: #37454d;
  border-top: solid 2px #abb1b4;
  border-bottom: solid 2px #abb1b4;
  border-right: solid 2px #abb1b4;
  padding-top: 2%;
}

.info-icon {
  display: flex;
  background-color: #ebeced;
  color: #9ba2a6;
  margin-top: 2%;
  margin-left: 2%;
}

.map {
  margin-top: 10px;
  margin-left: 10px;
}

.price-text {
  display: flex;
  color: #498913;
  font-size: 18px;
  align-self: center;
}

.price {
  display: flex;
  color: #46890f;
  font-weight: bold;
  font-size: 22px;
}

.price-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-self: center;
}

.price-btn {
  display: flex;
  color: white;
  background-color: #428500;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 40px;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
}

.price-btn-container {
  display: flex;
  margin-top: 65px;
  align-items: center;
}

.green-side-arrow {
  display: flex;
  background-color: #428500;
  color: white;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.price-section-container {
  display: flex;
  flex-direction: column;
}

.heart-container {
  display: flex;
  position: absolute;
  margin-left: 10px;
}

[id="heart1"] {
  position: absolute;
  left: -100vw;
}

[for="heart1"] {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
  align-self: center;
  transition: color 0.2s ease-in-out;
  opacity: 0.9;
}

[for="heart1"]:hover {
  color: grey;
}

[for="heart1"]::selection {
  color: none;
  background: transparent;
}

[for="heart1"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart1"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart1 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  opacity: 1;
}

@keyframes heart1 {
  0%,
  17.5% {
    font-size: 0;
  }
}
