.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 1000px;
}

.blue-header {
  display: flex;
  flex-direction: column;
  background-color: #37454d;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #37454d;
}

.gray-header {
  display: flex;
  flex-direction: column;
  background-color: #ebeced;
}

.first-row-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
}

.second-row-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
}

.third-row-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
}

.check-in-item {
  display: flex;
  margin-right: 10px;
  width: 33%;
}

.check-out-item {
  display: flex;
  margin-right: 10px;
  width: 33%;
}

.room-item {
  display: flex;
  width: 33%;
}

.material-icons {
  display: flex;
  background-color: white;
  border: none;
  margin: none;
}

.search-button {
  display: flex;
  background-color: #007fad;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.searchbar {
  display: flex;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  width: 100%;
  border: white;
}

.date-button {
  display: flex;
  width: 80%;
  background-color: white;
  color: #37454d;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.room-button {
  display: flex;
  background-color: white;
  color: #37454d;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.property-button {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 50%;
  text-align: left;
  margin-top: 5%;
}

.property-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.guest-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.location-container {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.location-tag {
  color: #dbdedf;
  font-weight: bolder;
}

.location-button {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 20%;
  text-align: left;
  margin-top: 5%;
}

.vertical-bar {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #626d73;
  height: 50px;
  margin-left: 1%;
  margin-right: 1%;
}

.blue-bar {
  display: flex;
  border-left: 10px solid #007fad;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.orange-bar {
  display: flex;
  border-left: 10px solid orange;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.guest-button {
  display: flex;
  color: white;
  background-color: #37454d;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  text-align: left;
  margin-top: 5%;
}

.left-tag {
  display: flex;
  flex-direction: row;
  color: #dbdedf;
  font-weight: bolder;
}

.right-tag {
  display: flex;
  flex-direction: row;
  color: #dbdedf;
  margin-left: auto;
}

.tag-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 1%;
}

.slider-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1%;
}

.slider {
  display: flex;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #007fad;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 1%;
}

.slider::-webkit-slider-thumb {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e6e7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e6e7;
  cursor: pointer;
}

.white-icons {
  display: flex;
  color: white;
  align-self: center;
}

.search-icon {
  display: flex;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 10px;
}

.calendar-icons {
  display: flex;
  padding: 10px;
}

.sidearrow-icons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.smooth-right {
  display: flex;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.smooth-left {
  display: flex;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.people-icons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
}

.downarrow-icons {
  display: flex;
  background-color: #37454d;
}

.selection-item {
  display: flex;
  flex-direction: row;
}

.property-container {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.guest-container {
  display: flex;
  flex-direction: column;
  width: 14%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
}

.gray-header-container {
  display: flex;
  flex-direction: row;
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 4%;
}

.sort-by-tag {
  display: flex;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 2%;
  margin-top: 4%;
}

.sort-by-button {
  display: flex;
  padding: 3%;
  border-top: solid 2px #abb1b4;
  border-bottom: solid 2px #abb1b4;
  border-left: solid 2px #abb1b4;
  border-right: none;
}

.sort-downarrow {
  display: flex;
  background-color: white;
  color: #37454d;
  border-top: solid 2px #abb1b4;
  border-bottom: solid 2px #abb1b4;
  border-right: solid 2px #abb1b4;
  padding-top: 2%;
}

.info-icon {
  display: flex;
  background-color: #ebeced;
  color: #9ba2a6;
  margin-top: 2%;
  margin-left: 2%;
}

.hotel-container {
  background-color: #ebeced;
}

.hotel-item {
  background-color: white;
}
